@import "tailwindcss";

@plugin '@tailwindcss/typography';

@plugin 'daisyui' {
    themes: dark --default, business;
}

@source '../../vendor/masmerise/livewire-toaster/resources/views/*.blade.php';

@theme {
    --font-sans: Lato, sans-serif;

    --background-image-home-hero: url("/public/images/home-hero.webp");
}

@utility scrollbar-custom {
    scrollbar-width: thin;
    scrollbar-color: #7480ff #00000000;

    &::-webkit-scrollbar {
        width: 12px;
    }

    &::-webkit-scrollbar-track {
        background: #00000000;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #7480ff;
        border-radius: 6px;
        border: 3px solid #00000000;
    }

    &::-webkit-scrollbar-thumb:hover {
        background-color: #5b6fff;
    }
}
